.filters {
  padding: 1rem 0;
  background-color: rgb(27, 8, 88);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
}

label {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

label > select {
  padding: 5px;
  background-color: gray;
  border-radius: 2px;
}

@media (max-width: 921px) {
  .filters {
    padding: 0 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
